<h1 class='text-3xl mb-8 font-medium'>New Comment</h1>

<%= form_for(@comment, url: user_post_comments_path(@user, @post)) do |f| %>
  <div>
    <div>
      <%= f.label :text %>
    </div>

    <div class='mt-4'>
      <%= f.text_area :text %>
    </div>

    <div class='mt-4'>
      <%= f.submit 'Create Comment', class: 'bg-green-500 cursor-pointer rounded-md px-4 py-2 text-white' %>
    </div> 
  </div>
<% end %>

