<h1>User Details</h1>

<li class='border-2 cursor-pointer px-6 border-black w-[500px] h-[100px] flex items-center justify-start gap-4'>
  <div class='h-[60px] w-[60px] rounded-full border '>
    <% if @user.photo.present? %>
      <img src="<%= @user.photo %>" class='w-full h-full object-cover' alt="Photo">
    <% end %>
  </div>
  <div>
    <a href="<%= user_path(@user) %>">
      <p><%= @user.name %></p>
    </a>
  </div>
</li>
<p><%= link_to 'Back to Users List', users_path %></p>


