<!-- FILEPATH: /home/martin/Projects/Rails/blog_app/app/views/posts/index.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Blog App - Posts</title>
</head>
<body>
  <h1>List of posts</h1>
</body>
</html>

